

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: auto;
    font-family: "Poppins",sans-serif;
    background-color: #FFFFFF;
}
.logo {
  position: relative;
  width: 350px;
  height: 40px;
  left: 140%;
  top: 7px;
  font-size: 120%;
  color:#161515; 
  }
  
.logo i {
  padding-right: .5rem;
  color: #E1651F;
}

.header{
  position: absolute;
  width: 100%;
  height: 92px;
  left: 0px;
  top: 0px;
  background: #646363;

}

.footer{
    position: relative;
    width: 100%;
    height: 25px;
    left: 0px;
    /* top: 728px; */
    top: 696px;
    background: #646363;
}

.btnHome{   
    position: absolute;
    width: 41px;
    height: 40px;
    left: 1%;
    top: 25px;
    background: #FFFFFF;
    border-radius: 20px;
    text-decoration: none;
}

.btnHome .iconHome{
    position: absolute;
    width: 35px;
    height: 40px;
    left: 3px;
    top: 0px;
}

/* Header - Navigation */
.desktop-nav {
  position: absolute;
  width: 289px;
  height: 34px;
  left: 42%;
  top: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  @media (max-width:992px) {
      display:block;
  }
}

.desktop-nav .calendar {
  position: absolute;
  width: 27.09px;
  height: 19px;
  left: 9.42px;
  top: 6px;
}

/* Start of calender */
.Mycalender{
  visibility: hidden;
  position: absolute;
  width: 350px;
  height: 200px;
  left: -80px;
  top: 40px;
  background-color: #FFFFFF;
  border-radius: 5px;
  z-index: 1;
}

.month {
  padding: 10px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  display: inline-block;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 3px 0;
  background-color: rgb(226, 221, 221);
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: rgb(71, 67, 67);
  text-align: center;
}

.days {
  padding: 10px 0;
  background: rgb(194, 235, 199);
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* End of calender */

.date .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.day .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.desktop-nav .clock {
  position: absolute;
  width: 44.75px;
  height: 20px;
  left: 170.76px;
  top: 5px;
}

.desktop-nav .date {
  position: absolute;
  width: 81px;
  height: 15px;
  left: 53px;
  top: 2px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
  
}

.desktop-nav .day {
  position: absolute;
  width: 53px;
  height: 15px;
  left: 65px;
  top: 17px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;

  color: #000000;
}

.desktop-nav .time {
  position: absolute;
  width: 64.77px;
  height: 22px;
  top: 1px;
  left: 214px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}
/* End of Header - Navigation */
  
.backgroundPay{
  position: absolute;
  background-color: #726e6e;
  height: 2250%;
  width: 96%;
  top: 450%;
  left: 2%;
}

.back{
    position: absolute;
    width: 30px;
    height: 38px;
    top: 5%;
    left: 2%;
    cursor: pointer;
}

.paymentType{
    position: absolute;
    width: 240px;
    height: 37px;
    top: 5%;
    left: 5%;
    background: #C4C4C4;
    border-radius: 7px;
    text-align: center;
    font-size: 20px;
    padding-top: 3px;
}
/* Start of payment details */

/* Start od Section2 */

form.search{
  position: absolute;
  top: 30%;
  left: 5%;
  width: 20%;
}

form.search input[type=text] {
  padding: 9px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 82%;
  background: #f1f1f1;
  border-radius: 20px;
}

form.search button {
  float: right;
  width: 15%;
  padding: 10px;
  background: #1e9746;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 30px;
  left: 5px;
}

form.search button:hover {
  background: #33b976;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

.backgroundPay .detailtable{
  position: absolute;
  height: 80%;
  width: 95%;
  left: 5%;
  top:40%
}

.column1 {
  float: left;
  width: 15%;
  padding: 10px;
  height: 60px; 
  padding: 10px;
  text-align: center;
  background-color: #cccbcb;
}  

.column2 {
  float: left;
  width: 15%;
  padding: 10px;
  height: 60px; 
  padding: 10px;
  text-align: center;
  background-color: #b6b3b3;
} 

.column3 {
  float: left;
  width: 15%;
  padding: 10px;
  height: 60px; 
  padding: 10px;
  text-align: center;
  background-color: #cccbcb;
}  

.column4 {
  float: left;
  width: 20%;
  padding: 10px;
  height: 60px; 
  padding: 10px;
  text-align: center;
  background-color: #b6b3b3;
}  

.column5 {
  float: left;
  width: 15%;
  padding: 10px;
  height: 60px; 
  padding: 10px;
  text-align: center;
  background-color: #cccbcb;
}  

.column6 {
  float: left;
  width: 15%;
  padding: 10px;
  height: 60px; 
  padding: 10px;
  text-align: center;
  background-color: #b6b3b3;
}  

.column11 {
  float: left;
  width: 15%;
  padding: 10px;
  height: 70%; 
  padding: 10px;
  text-align: center;
  background-color: #fcf9f9;
}  

.column22 {
  float: left;
  width: 15%;
  padding: 10px;
  height: 80%; 
  padding: 10px;
  text-align: center;
  background-color: #fcf9f9;
} 

.column33 {
  float: left;
  width: 15%;
  padding: 10px;
  height: 80%; 
  padding: 10px;
  text-align: center;
  background-color: #fcf9f9;
}  

.column44 {
  float: left;
  width: 20%;
  padding: 10px;
  height: 80%; 
  padding-left: 50px;
  text-align: left;
  background-color: #fcf9f9;
}  

.column55 {
  float: left;
  width: 15%;
  padding: 10px;
  height: 80%; 
  padding-right: 50px;
  text-align: right;
  background-color: #fcf9f9;
}  

.column66 {
  float: left;
  width: 15%;
  padding: 10px;
  height: 80%; 
  padding: 10px;
  text-align: center;
  background-color: #fcf9f9;
} 

.row:after {
  content: "";
  display: table;
  clear: both;
} 

.pendingbuttons{
  text-decoration: none;
  color: #000000;
}

.pending{
  background-color: #e44d4d;
  border-radius: 20px;
  width: 100%;
  height: 7%;
  
}

.complete{
  background-color: #35b13b;
  border-radius: 10px;
}
/* End od payment details

/* Start Cash Payment */
.cashpay{
    position: absolute;
    width: 340px;
    height: 400px;
    left: 40%;
    top: 20%;
    background: #C4C4C4;
    border-radius: 5px;
}

.cashpay .title{
    position: absolute;
    width: 200px;
    height: 35px;
    left: 70px;
    text-align: center;
    padding-top: 6px;
    top: 35px;
    background: #FFFFFF;
    border-radius: 5px;
}

form{
    position: absolute;
    top: 27%;
    left: 20px;
    
}
.cashpay input[type=number]{
    position: absolute;
    width: 150px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 6px;
    padding-left: 10px;
    text-align: right;
}
input[type=submit]{
    position: absolute;
    width: 18%;
    height: 18%;
    left: 156%;
    top: 37%;
    background: #f37a7a;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Poppins",sans-serif;
}
input[type=submit]:hover {
    background-color: #469e4b;
}

/* input[type=reset]{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 8px;
    top: 180px;
    background: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    font-family: "Poppins",sans-serif;
}
input[type=cancel]:hover {
    background-color: #ec6a53;
} */

.labelname{
    float: left;
    width: 130px;
    margin-top: 6px;
}
.inputrow{
    float: left;
    width: 50px;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.rowbalance{
  top:3000%;
  left: 1000%;
}

/* .labelname1{
  float: left;
  width: 80%;
  margin-top: 6px;
  visibility: hidden;
}
.inputrow1{
  float: left;
  width: 50px;
  margin-top: 6px;
} */

.ok{
  position: absolute;
  width: 165%;
  height: 30%;
  top: 130%;
  left: 1%;
  background: #FFFFFF;
  border-radius: 6px;
  cursor: pointer;
  font-size: 170%;
  font-family: "Poppins",sans-serif;
  text-decoration: none;
  color: #fdf7f7;
  background-color: #469e4b;
  text-align: center;
}

.ok:hover {
  background-color: #6ec973;
}
/* End of Cash Payment */

/* Start of Card Payment */
.background{
    position: absolute;
    width: 350px;
    height: 500px;
    left: 20px;
    top: 20px;
    background: #FFFFFF;    
}
.margin{
    position: absolute;
    width: 390px;
    height: 550px;
    left: 35%;
    top: 1%;
    background: #C4C4C4;
}
h1{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.cardtype{
  position: absolute;
  left: 10%;
  top: 10%;
}
    
.Confirmation input[type=submit]{
    position: absolute;
    width: 280px;
    height: 45px;
    left: 18px;
    top: 98%;
    background: #52AA52;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Poppins",sans-serif;
    color: #FFFFFF;
}
input[type=submit]:hover {
    background-color: #60cc66;
}

.cardform{
  top: 23%;
}

.cardpay input[type=text]{
    position: absolute;
    width: 300px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 6px;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* .labelname1{
    float: left;
    width: 130px;
    margin-top: 6px;
} */
.inputrow{
    float: left;
    width: 50px;
    margin-top: 6px;
    border-radius: 20px;
}
.labelname{
    float: left;
    width: 130px;
    margin-top: 6px;
}
/* .inputrow2{
    float: left;
    width: 50px;
    margin-top: 6px;
} */

/* End of Card Payment */

/* Buttons */
.btn1 {
  position: absolute;
  width: 40%;
  height: 20%;
  background: #fda45b;
  border-radius: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 8%;
  top:5%;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.btn1:hover {background-color:  #fda45b}

.btn2 {
  position: absolute;
  width: 40%;
  height: 20%;
  background: #FFD1B7;
  border-radius: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 50%;
  top:5%;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.btn2:hover {background-color:  #fda45b}

.btn11 {
  position: absolute;
  width: 40%;
  height: 20%;
  background: #FFD1B7;
  border-radius: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 8%;
  top:5%;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.btn11:hover {background-color:  #fda45b}

.btn22 {
  position: absolute;
  width: 40%;
  height: 20%;
  background: #fda45b;
  border-radius: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 50%;
  top:5%;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.btn22:hover {background-color:  #fda45b}

.pendingbtn .icon1{   
  position: absolute;
  width: 13%;
  height: 75%;
  left: 7%;
  top: 10%;
 
}

.completebtn .icon2{
  position: absolute;
  width: 13%;
  height: 75%;
  left: 7%;
  top: 11%;
}

.pendingbtn .text1{
  position: absolute;
  width: 100%;
  left: 30%;
  top: 40%;
  font-style: normal;
  font-weight: bold;
  font-size: 180%;
  line-height: 80%;
}

.completebtn .text2{
  
  position: absolute;
  width: 100%;
  left: 28%;
  top: 40%;
  font-style: normal;
  font-weight: bold;
  font-size: 180%;
  line-height: 80%;
}

/* End of buttons */


/* Profile */
.profile .name{
  position: absolute;
  width: 210px;
  height: 50px;
  right: 3%;
  top: 140%;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}

.pfBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #E1651F;
  border-radius: 40px;
  right: 2%;
  top: 70%;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.pfBtn .profWindow {
  visibility: hidden;
  width: 210px;
  height: 280px;
  background-color: #FFFFFF;
  border: 1px solid #ADA7A7;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: -430px;
  right: -20px;
  margin-left: -80px;
  margin-top: 500px;
}

.pfBtn .profWindow .head{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30%;
  background: #a1a0a0;
  border-radius: 5px;
}

.up{
  position: absolute;
  top: -14px;
  right: 33px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #a1a0a0; 
}

.profilepic{
  position: absolute;
  top: 50%;
  left: 36%;
  width: 70px;
  height: 70px;
  background: #E1651F;
  border-radius: 50px;
}

.gotopf{
  position: absolute;
  text-decoration: none;
  left: 28%;
  top: 180%;
  color: #555;
}

h4{
  position: absolute;
  color: #000000;
  top: 150%;
  left: 22%;
}
 
.logout{
  position: absolute;
  width: 100px;
  height: 30px;
  top: 250%;
  left: 28%;
  background: #a1a0a0;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.logout:hover {background-color:  #5c5a59}


/* Toggle this class - hide and show the popup */
.pfBtn .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/* End of profile */