

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Poppins",sans-serif;
  background: conic-gradient(from 140deg at 100% 60.31%, rgba(37, 37, 37, 0) -20deg, #0E0E0E 20deg, rgba(14, 14, 14, 0) 700deg, #0E0E0E -10deg), url("../images/background.png");
  background-size: cover;
}

.logo {
position: relative;
width: 30%;
margin-top: 3%;
margin-left: 5%;
font-size: 200%;
color: #a1a0a0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.logo i {
padding-right: 2%;
color: #E1651F;
}

/* Buttons */


.btn1 {
  position: absolute;
  width: 13.5%;
  height: 750%;
  background: #F4E8DF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  left: 10%;
  top:60%;
  cursor: pointer;
  margin: 10%;
}

.btn1:hover {background-color:  #f3d6bf}

.btn1:active {
  background-color: #d6b397;
  transform: translateY(50px);
}

.btn2 {
  position: absolute;
  width: 13.5%;
  height: 750%;
  background: #F4E8DF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  left: 27%;
  top:60%;
  cursor: pointer;
  margin: 10%;
}

.btn2:hover {background-color:  #f3d6bf}

.btn2:active {
  background-color: #d6b397;
  transform: translateY(50px);
}

.btn3 {
  position: absolute;
  width: 13.5%;
  height: 750%;
  background: #F4E8DF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  left: 44%;
  top:60%;
  cursor: pointer;
  margin: 10%;
}

.btn3:hover {background-color:  #f3d6bf}

.btn3:active {
  background-color: #d6b397;
  transform: translateY(50px);
}

.btn4 {
  position: absolute;
  width: 13.5%;
  height: 750%;
  background: #F4E8DF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  left: 61%;
  top:60%;
  cursor: pointer;
  margin: 10%;
}

.btn4:hover {background-color:  #f3d6bf}

.btn4:active {
  background-color: #d6b397;
  transform: translateY(50px);
}

.btn1 .reserve .icon1{
  position: absolute;
  width: 130px;
  height: 220px;
  left: 20%;
  top: 8%;
}

.btn2 .orders .icon2{
  position: absolute;
  width: 160px;
  height: 160px;
  left: 12%;
  top: 12%;
}

.btn3 .payments .icon3{
  position: absolute;
  width: 140px;
  height: 130px;
  left: 20%;
  top: 20%;
}

.btn4 .guests .icon4{   
  position: absolute;
  width: 120px;
  height: 160px;
  left: 20%;
  top: 15%;
 
}

.btn1 .reserve .text1{
  position: absolute;
  width: 150px;
  height: 50px;
  left: 20%;
  bottom: 25%;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 52px;
  text-decoration: none;
  color: #000000;
}

.btn2 .orders .text2{
  
  position: absolute;
  width: 150px;
  height: 50px;
  left: 22%;
  bottom: 25%;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 52px;
  text-decoration: none;
  color: #000000;
}

.btn3 .payments .text3{
  position: absolute;
  width: 150px;
  height: 50px;
  left: 10%;
  bottom: 25%;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 52px;
  text-decoration: none;
  color: #000000;
}

.btn4 .guests .text4{
  position: absolute;
  width: 150px;
  height: 50px;
  left: 7%;
  bottom: 25%;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 52px;
  text-decoration: none;
  color: #000000;
  /* visibility: hidden; */
}


/* End of buttons */

/* Profile */
.profile .name{
  position: absolute;
  right: 6%;
  top: 30%;
  font-style: normal;
  font-weight: bold;
  font-size: 90%;
  text-align: center;
  color: #f5eded;
}

.pfBtn {
  position: absolute;
  width: 3%;
  height: 100%;
  background: #fdfcfb;
  border-radius: 80px;
  right: 2%;
  top: 5%;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.pfBtn .profWindow {
  visibility: hidden;
  width: 210px;
  height: 280px;
  background-color: #FFFFFF;
  border: 1px solid #ADA7A7;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: -430px;
  right: -20px;
  margin-left: -80px;
  margin-top: 500px;
}

.pfBtn .profWindow .head{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30%;
  background: #a1a0a0;
  border-radius: 5px;
}

.up{
  position: absolute;
  top: -14px;
  right: 33px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #a1a0a0; 
}

.profilepic{
  position: absolute;
  top: 50%;
  left: 36%;
  width: 70px;
  height: 70px;
  background: #fdfcfb;
  border-radius: 50px;
}

.profileimage{
  /* position: absolute; */
  width: 100%;
  height: 100%;

}

.gotopf{
  position: absolute;
  text-decoration: none;
  left: 28%;
  top: 180%;
  color: #5c5a59;
}

h8{
  position: absolute;
  color: #000000;
  top: 150%;
  left: 35%;
}
 
.logout{
  position: absolute;
  width: 100px;
  height: 30px;
  top: 250%;
  left: 28%;
  background: #a1a0a0;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.logout:hover {background-color:  #5c5a59}


/* Toggle this class - hide and show the popup */
.pfBtn .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



/* End of profile */

/* Meadia quaries */




@media (max-width:900px) {
  html {
      font-size: 55%;
  }

  .profile .name{
    visibility: hidden;
  }

}



/* 
@media (max-width:900px) {
  .btn5 {
      width: 40px;
      height: 40px;
  }

  .profile .name{
      width: 170px;
      height: 1px;
      top: 35px;
      font-size: 10px;
      
  }

  .desktop-nav {
      left: 35%;
      top: 40%;  
  }
  .end{
      position: absolute;
      height: 50px;
      width: 100%;
      top: 375%;
      color: #fff;
  }
  
  .logo {
      position: relative;
      width: -10%;
      height: 2%;
      left: -5%;
      top: 5%;
      
  }
  
}

@media (max-width:1192px){
.buttons{
  padding: 20px;
  flex-direction: column;
}
} */


/* 
@media (max-width:1400px) {
  .btn1 {
    left: 10%;
    top:100%;
    cursor: pointer;
  }

  .btn2 {
      left: 30%;
      top:100%;
      cursor: pointer;
  }

  .btn3 {
      left: 50%;
      top:100%;
      cursor: pointer;
  }

  .btn4 {
      left: 70%;
      top:100%;
      cursor: pointer;
  }
} */

/* @media (max-width:1100px) {
  .btn1 {
    height: 320px;
    left: 30%;
    top:90%;
    cursor: pointer;
  }

  .btn2 {
      height: 320px;
      left: 60%;
      top:90%;
      cursor: pointer;
  }

  .btn3 {
      height: 320px;
      left: 30%;
      top:240%;
      cursor: pointer;
  }

  .btn4 {
      height: 320px;
      left: 60%;
      top:240%;
      cursor: pointer;
  }
} */





