@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,700&display=swap');

* {
    font-family: 'Poppins',
        sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

:root {
    --orange: #FF6000;
}

body {
    /* background: #f7f7f7; */
    background: #ff6961;
    /* background: black;
    background: url(../images/bg2.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: none; */
}

section {
    padding: 10rem 9% 0 9%;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(102, 102, 102);
}

header .logo i {
    padding-right: .5rem;
    color: var(--orange);

}

header .navbar .dropdown .fas {
    font-size: 4rem;
    color: rgb(102, 102, 102);
    /*color: var(--orange);*/
    /*padding-right: 1rem;*/
}

header .navbar a {
    font-size: 2rem;
    margin-left: 2.5rem;
    color: rgb(102, 102, 102);
}

header .navbar a:hover {
    color: var(--orange);

}



#menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: rgb(102, 102, 102);
    border: .1rem solid rgb(102, 102, 102);
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

.heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: rgb(102, 102, 102);
}



.btn {
    justify-content: center;
    display: inline-block;
    padding: 0.8rem 3rem;
    border: .01rem solid green;
    cursor: pointer;
    font-size: 1.5rem;
    /*font-weight: 600;*/
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
    color: green;
}


button {
    background: white;
    padding-right: 1.5rem;
}


.delete {
    border: .01rem solid #ff6961;
    color: #ff6961;
}

.delete:hover {
    color: #fff;
    background-color: #ff6961;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    padding: 0;
}

.break {
    margin: auto;
    justify-content: center;
    height: 30px;
    width: 75%;
    border-style: solid;
    border-color: rgb(102, 102, 102);
    border-width: 3px 0 0 0;
    margin-top: 5rem;
}

.content {
    font-size: 2rem;
    display: flex;
    width: 100%;
    /* background-color: aqua; */
    /* padding-bottom: 5rem; */
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: rgb(102, 102, 102);
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.content .rev div {
    padding: 1rem;
}

table thead th {
    /* border-radius: 1rem; */
    width: 100%;
    font-size: 1.75rem;
    text-align: left;
    background-color: var(--orange);
    color: #ffffff;
    padding: 1rem;
    /* padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem; */
    border-bottom: 1px solid #ddd;
    font-weight: 500;
    /*border-radius: 2rem;*/
    /*text-align: left;*/
}

table td {
    padding: 2rem;
    font-size: 1.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


table {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2.5rem;
    /* border-radius: 1rem; */
    table-layout: fixed;
    border-collapse: collapse;
}

tr {
    /* border-bottom: 0.15rem solid var(--orange); */
    border-bottom: 1px solid #ddd;
    margin: 1rem;
}

/* modal */

/* media queries */

@media (max-width:1192px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width:900px) {
    #menu-bar {
        display: initial;

    }

    section {
        padding: 7rem;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        /* display: block; */
    }

    header .active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        /* display: block; */
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: 0.2rem solid rgba(0, 0, 0, 0.1);
        background: #fff;
        text-align: center;
    }

    header .navbar a:hover {
        background-color: rgba(255, 90, 0, 0.5);
        color: #f7f7f7;
    }
}