.overview{
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  height: auto;
  padding: 20px 30px;
  justify-content: center;
}
.box{
      width: 250px;
      height: 250px;
      padding: 20px 30px;
      margin: 40px 40px;
      /* margin-right: 20px; */
      border-radius: 12px;
      border: .2rem solid var(--orange);
      /* background: #fff; */
      /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
  }
 .box_topic{
      background-color: var(--orange);
      color: white;
      text-align: center;
      padding: 8px;
      font-size: 30px;
      font-weight: 500;
  }
.box_details{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
  }
  .number{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }