@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,700&display=swap');

* {
    font-family: 'Poppins',
        sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

:root {
    --orange: #FF6000;
}

body {
    background: #f7f7f7;
}

section {
    padding: 10rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(102, 102, 102);
}

header .logo i {
    padding-right: .5rem;
    color: var(--orange);

}

header .navbar a {
    font-size: 2rem;
    margin-left: 2.5rem;
    color: rgb(102, 102, 102);
}

header .navbar a:hover {
    color: var(--orange);

}

#menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: rgb(102, 102, 102);
    border: .1rem solid rgb(102, 102, 102);
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

hr {
    margin: auto;
    justify-content: center;
    height: 30px;
    width: 120px;
    border-style: solid;
    border-color: var(--orange);
    border-width: 3px 0 0 0;
    /* border-radius: 20px; */
}

.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(../images/bg1.jpg);
    background-size: cover;
    background-position: center;
}

.home .content {
    /* justify-content: end; */
    flex: 1 1 40rem;
    padding-top: 6.5rem;
    text-align: right;
    /* padding-left:auto;
    padding-right: 5rem; */
}

.home .content h3 {
    font-size: 4rem;
    color: #fff;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    width: 100%;
    padding: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 3rem;
    border: .3rem solid var(--orange);
    color: var(--orange);
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn:hover {
    color: #fff;
    background-color: var(--orange);
}

.heading {
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: rgb(102, 102, 102);
}

.popular .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.popular .container .box .btn {
    align-items: center;
}

.popular .container .box {
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem sold rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    /* text-align: center; */
    flex: 1 1 30rem;
    position: relative;
}

.popular .container .box img {
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: 0.5rem;
}

.popular .container .box .price {
    margin-right: 0;
    margin-left: auto;
    color: var(--orange);
    font-size: 2.5rem;
    padding-top: 1rem;
    font-weight: bolder;
}

.popular .container .box h3 {
    color: rgb(102, 102, 102);
    font-size: 2.5rem;
    padding-top: 1rem;
}

.popular .container .box .stars i {
    color: gold;
    font-size: 1.7rem;
    padding: 1rem 0.1rem;
}

.popular {
    padding-top: 0.5rem;
}

.popular .container .box .content-container {
    display: flex;
    padding-bottom: 1rem;
}

.popular .container .box .description {
    font-size: 1.5rem;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 1rem;
}

/* .order-now-btn{
    padding-top: auto;
    padding-bottom: 0.5em;
    align-items: baseline;
} */
.popular .container .box .stars i {
    color: gold;
    font-size: 1.7rem;
    padding: 1rem .1rem;
}

.popular .explore-menu {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular .explore-menu .btn {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);

}

.testimonial {
    padding-top: 0.5rem;
    background: url(../images/testimonialbg.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding: 1rem; */
}

.testimonial .heading {
    color: #fff;
}

.testimonial .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.testimonial .container .box {
    text-align: center;
    padding: 2rem;
    border: 1rem sold #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    flex: 1 1 30rem;
    background: #fff;
    margin-top: 6rem;
}

.testimonial .container .box img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}

.testimonial .container .box h3 {
    font-family: 'Roboto',
        sans-serif;
    font-size: 2.5rem;
    color: rgb(102, 102, 102);
    padding: 1rem 0;
}

.testimonial .container .box .stars i {
    font-size: 2rem;
    color: var(--orange);
    padding: 1rem 0;
}

.testimonial .container .box p {
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
}

.about .container .image img {
    height: 50rem;
    /* width: 1%; */
    object-fit: cover;
    width: 100%;
    border-radius: 0.5rem;

}

.about .container .image {
    width: 300%;
    /* flex: 1 1 300rem; */
    padding-bottom: auto;
}

.about .container {
    /* position: absolute; */
    display: flex;
}

.about .container .content {
    font-size: 1.75rem;
    color: black;
    padding-left: 3rem;
    padding-top: 3rem;
    line-height: 150%;
}

.about {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    text-justify: inter-word;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #111;
    flex-direction: column;
    /* max-height: 40vh; */
}

footer .parent {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    flex-wrap: wrap;
}

footer .parent .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sect {
    /* margin-right: 1.875rem; */
    margin-right: 30px;
}

footer .container .aboutus {
    width: 40%;
}

footer .container .aboutus img {
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 1rem;
    padding: 0;
    margin-top: 1rem;
    /* justify-self: center; */
    /* align-items: center; */
}

footer p {
    color: #999;
    font-size: 1.5rem;
    text-align: justify;
}

footer h2 {
    color: #fff;
    font-size: 2rem;
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: left;
}

footer h2::before {
    content: " ";
    position: absolute;
    bottom: -5px;
    left: auto;
    width: 50px;
    height: 2px;
    background: var(--orange);

}

.social {
    display: flex;
    margin-top: 20px;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;

}

.social li a:hover {
    background: var(--orange);
}

.social li a .fab {
    color: #fff;
    font-size: 1.5rem;
}

footer .container .link {
    position: relative;
    width: 25%;
}


footer .link ul li {
    list-style: none;
}

footer .link ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 1.5rem;
}

footer .link ul li a:hover {
    color: white;
}

footer .contact {
    width: calc(35%-60px);
    margin-right: 0 !important;
}

footer .contact .contact-info {
    position: relative;
}

footer .contact .contact-info li {
    display: flex;
    margin-bottom: 10px;

}

footer .contact .contact-info li span:nth-child(1) {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 10px;
}


footer .contact .contact-info li span {
    font-size: 1.5rem;
    color: #999;
}

footer .contact .contact-info li a {
    color: #999;
    text-decoration: none;
}

footer .contact .contact-info li a:hover {
    color: white
        /* text-decoration: none; */
}

.copyright {
    width: 100%;
    background-color: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
    font-size: 1.5rem;
}

/* media queries */

@media (max-width:1192px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width:900px) {
    #menu-bar {
        display: initial;

    }

    section {
        padding: 2rem;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        /* display: block; */
    }

    header .active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        /* display: block; */
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: 0.2rem solid rgba(0, 0, 0, 0.1);
        background: #fff;
        text-align: center;
    }

    header .navbar a:hover {
        background-color: rgba(255, 90, 0, 0.5);
        color: #f7f7f7;
    }


    .about .container .image {
        display: none;
    }

    .about .container .content {
        line-height: 200%;
        font-size: 175%;
    }

    .about .container {
        padding: 1.5rem;
    }

    footer {
        padding: 20px;
        flex-direction: column;

    }

    footer .container {
        flex-direction: column;
    }


    footer .container .sect {
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container .aboutus {
        width: 100%;
    }

    footer .container .link {
        width: 100%;
    }

    footer .container .contact {
        width: 100%;
    }

    .copyright {
        padding: 8px 40px;
    }
}

/* @media (max-width:400px) {
    html {
        font-size: 50%;
    }

    .about .container {
        padding: 1.5rem;
    }

    .about .container .image {
        display: none;
        line-height: 200%;

    }

    .about .container .content {
        line-height: 200%;
        font-size: 175%;
    } */

/* footer {
        padding: 40px;
        margin: 0;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container .sect {
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container  .aboutus {
        width: 100%;
    }

    footer .container  .link {
        width: 100%;
    }

    footer .container  .contact {
        width: 100%;
    }


    .copyright {
        padding: 8px 40px;
    } */
