/* main section */
.main_section{
  display: grid;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 255px);
    height: 100%;
    left: 255px;
}
/* navigation */
.main_section .navbar{
  
    position: fixed;
    background: #f7f4f4;
    /* background: #ffffff; */
    display: grid;
    /* grid: auto; */
    height: 100px;
    width: calc(100% - 255px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
 .nav{
    display: flex;
    height: 100px;
    width: 100%;
    position: relative;
  }
  .nav i{
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 20px;
    cursor:pointer
  }
.heading{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 0 20px;
    height: 100%;
    width: 50%;
    /* color: var(--orange); */
  }
.profile{
    display: flex;
    align-items: center;
    min-width: 190px;
    padding-left: 35%;
    height: 100%;
    width: 50%;
    
  }
.profile img{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
  }
.profile .user{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
  }

