*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:poppins;
    font-size: x-small;
}
body{
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    width: 100%;
    height: 100%; 
    text-align: left;
   
    
  }

  h1{
    font-size: 2rem;
}
li a {
    display: block;
    color: #000;
    padding: 10px 120px 10px 80px;
    text-decoration: none;
    font-size:1.5rem;
    width: 100%
 
  }
  li a:hover {
    background-color: #555;
    color: white;
    width: 100%;
  }
  .employee-navigation{
      background-color:#c2c1c0;
      width:300px
  }

.main_area{
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    /*background-color: rgb(255, 255, 255);*/
    float: right;
    width: 78%;
    padding-left: 20px;
    padding-right: 20px;
    height: 1500px;
    font-size: 1.5rem;

}
.navigation{
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    background-color:#e7e6e2;
    float: left;
    width: 20%;
    height: 1500px;
    position: fixed;
    overflow: auto;
    text-align: center;
}
.popup{
    position: absolute;
    top: 0px;
    left: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    
    
    width: 55%;
    height: 100%;
    


}
.popuptopic{
    padding: 10px;
}
.popuptopic h2{
    font-size: 2rem;
}
.popupcontent{
    background-color: rgb(255, 255, 255);
    padding:10px;
    margin-bottom: 20px;
}
.subtopic{
    padding: 5px;
    font-weight: bolder;
    font-size: 1.5rem;
}
.answer{
    padding-left: 5px;
    font-size: 1.1rem;
}
#logout{
    margin-left: 12rem;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #F3F2EE;
    border: 1px solid #F3F2EE;
    border-radius: 1rem;

}
.login_name{
    position:absolute;
    right: 55px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 2rem;
}
.login_name p{
    font-size: 1.3rem;
}

.user-image{
    position: absolute;
    right: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}


.updateEmployee,.deleteEmployee, addEmployee{
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: small;
}

.updateEmployee{
    position: relative;
    position: relative;
    background-color: green;
    border: 2px solid green;
    color: white;
    padding: 5px;
    border-radius: 5px;


}

.deleteEmployee{
    position:absolute;
    right: 20px;
    background-color: #ff6961;
    border: 2px solid #ff6961;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.addEmployee{
    background-color: green;
    border: 1px solid green;
    color: white;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
}

.field{
    padding: 7px;
}
.inputfield{
    width: 400px;
    height: 30px;
    border: 2px solid white;
    border-radius: 10px;
}
.popupform{
    background-color: rgb(238, 238, 238);
    background-image: linear-gradient(to right,rgb(209, 209, 209)  ,rgb(230, 230, 230), white);
    padding:10px;
    margin-bottom: 20px;
    padding-left: 40px;
    
    
}
.popupform label{
    font-size: medium;
}
#designation{
    border-radius: 3px;
    width: 200px;
    height: 25px;
    background-color: rgb(207, 248, 235);
    border: 1px solid rgb(207, 248, 235);
}

html
{
	font-size: 62.5%;
}
