*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:poppins;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    width: 100%;
    height: 100%; 
    text-align: left;
    font-size: 1.5rem;
   
    
  }

  h1{
    font-size: 2rem;
}
li a {
    display: block;
    color: #000;
    padding: 10px 120px 10px 80px;
    text-decoration: none;
    font-size:medium;
    width: 100%;
    font-size: 1.5rem;
    
 
  }
  li a:hover {
    background-color: #555;
    color: white;
    width: 100%;
  }
  .reservation-navigation{
      background-color:#c2c1c0;
      width:300px
  }

  
  table,td{
    text-align: center;
}
table{
    margin-top: 20px;
    width: 75%;
    font-size: 1.5rem;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;


    
}
#all-details-table{
    position:absolute;
    top: 345px;
    left: 320px;
    visibility: visible;
}

#upcoming-table{
    position:absolute;
    top: 345px;
    left: 320px;
    visibility: hidden;

}

#completed-table{
    position:absolute;
    top: 345px;
    left: 320px;
    visibility: hidden;

}

#cancel-table{
    position:absolute;
    top: 345px;
    left: 320px;
    visibility: hidden;

}

th{
    text-align: left;
    padding-left: 10px;
    
}
td{
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
  
}
.table_res thead tr{
    background-color: #FF6000;
    color: white;
    padding-top: 50px;
    height: 40px;
    text-align: left;
}

.main_area{
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    /*background-color: rgb(255, 255, 255);*/
    float: right;
    width: 78%;
    padding-left: 20px;
    padding-right: 20px;
    height: 1500px;

}
.navigation{
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    background-color:#e7e6e2;
    
    float: left;
    width: 20%;
    height: 1500px;
    position: fixed;
    overflow: auto;
    text-align: center;
}
.details-total{
    position: absolute; 
    top: 0px;
    left: 300px;
      display: grid;
grid-template-columns: auto auto auto;
}
.matirial01, .matirial02 ,.matirial03,.matirial04{
    background-color: rgb(255, 255, 255);
    margin: 50px;
    border: 5px solid #FF6000 ;
    color: rgb(59, 59, 59);
    border-radius: 15px;
    width: 400px;
    height: 120px;

    text-align: center;
    display: inline;
}
.matirial01 h1, .matirial02 h1 ,.matirial03 h1 ,.matirial04 h1 {
    padding: 3px;
}

.topic{
    padding-top: 20px;
    padding-bottom: 20px;
}

.search{
    padding-top: 20px;
    font-size: 1.5rem;
    
}
.search input{
    width: 450px;
    align-self: left;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 5px 10px 5px 20px;
    margin-bottom: 15px;
}

.Add_new_employee_btn{
    position: absolute;
    width: 50%;
    left: 500px;
    background-color: antiquewhite;
    text-align: center;
    margin-top: 5px;
    padding: 5px;
}
.line{
    background-color: #000;
    height: 1px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 3px;
    
}
.topic-reservation{
    margin-top: 70px;
    margin-bottom: 50px;
    margin-bottom: 0;
    padding: 10px;
}

#logout{
    margin-left: 12rem;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #F3F2EE;
    border: 1px solid #F3F2EE;
    border-radius: 1rem;

}
.login_name{
    position:absolute;
    right: 55px;
    margin-top: 10px;
    padding-top: 10px;

}

.user-image{
    position: absolute;
    right: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.all-btn{
    background-color: #ffffff;
    font-size: 1.3rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border : 1px solid white;
    padding: 11px 3px 11px 3px; 
}
.grid-container{
    display: grid;
    width: 40%;
    grid-template-columns: auto auto auto auto;
    font-size: 1.5rem;
}
.grid-container button:hover{
    background-color: rgb(167, 167, 167);
    color: white;
}
#all-btnID{
    background-color: rgb(167, 167, 167) ;
    color: black;

}

.popup-seemore{
    position: fixed;
    visibility: hidden;
    border: 5px solid #FF6000;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    font-size: 1.6rem;
}
.cancel-btn in see more{
  
    padding: 100px;
    margin: 1rem;
}
.see-more-reservation{
    padding: 4px;
    color: white;
    background-color: #FF6000;
}
html
{
	font-size: 62.5%;
}



